<!DOCTYPE html>
<head>
 <!-- Include Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

 <!-- Include your custom styles.css -->
 <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

 <!-- Include Bootstrap and jQuery JavaScript -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

 <!-- Include your custom scripts.js -->
 <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
   
<body class="custom-bg-optimized">
<header>
    <h1>Code Green</h1>
    <p>Encouraging Green Coding for a Sustainable Future</p>
</header>
<div class="container">
<div class="center">
<main>
<section id="output-section">
    <label for="optimized-code">Optimized Code:</label>
    <textarea id="optimized-code" rows="10" cols="50" name="optimized-code"></textarea>
</section>
</main>
<script>
    // Retrieve the test-variable value from localStorage
    var testVariableValue = localStorage.getItem("test_variable");

    // Set the value of the textbox
    document.getElementById("optimized-code").value = testVariableValue;
</script>
</div>
</div>
</body>
</html>